<div *ngIf="review" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ review.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
          <img src="{{'assets/'+ review.types[0] + '.png'}}" alt="image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td><strong>{{ review.name }}</strong></td>
              </tr>
              <!--<tr>
                <td>Points de vie</td>
                <td><strong>{{ review.hp }}</strong></td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td><strong>{{ review.cp }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of review.types" class="{{ type | reviewTypeColor }}">{{ type }}</span>
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td><em>{{ review.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>-->
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()" class="waves-effect waves-light btn">Retour</a>
          <a (click)="goEdit(review)" class="waves-effect waves-light btn">Modifier</a>
          <a (click)="delete(review)">Supprimer</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <h4 *ngIf ='!review' class='center'>
      <wrestling-loader></wrestling-loader>
    </h4>>