<h1 class='center'>Reviews</h1>

<div *ngIf="reviews"></div>
<div class='container'>
  <div class="row">

    <wrestling-search></wrestling-search>
    <div class="card horizontal">
    <div class="card-action center">
      <p>Trier par :</p>
      <a (click)='getReviews("name")' class="waves-effect waves-light btn">Nom</a>
      <a (click)='getReviews("type[0]")' class="waves-effect waves-light btn">Type</a>
    </div>
    </div>
    <div *ngFor='let review of reviews' class="col s6 m4">
      <div class="card horizontal pointer" (click)="selectReview(review)" wrestlingBorderCard>
        <div class="card-image">
          <img src="{{'assets/'+ review.types[0] + '.png'}}" alt="image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ review.name }}</p>
            <p>
              <small>{{ review.date | date:"dd/MM/yyyy" }}</small>
            </p>
            <div *ngIf="review.driveLink; else elseBlock">
            <p>
              <small> Review sur Google Drive !  </small>
            </p>
            </div>
            <ng-template #elseBlock>
              <p>
                <small> Review sur le site !</small>
              </p> 
            </ng-template>
            <!--<span *ngFor='let type of review.types' class='{{ type | reviewTypeColor }}'>{{type}}</span>-->
          </div>
        </div>
      </div>
    </div>
  </div>  
  </div>
<h4 *ngIf ='!reviews' class='center'>
  <wrestling-loader></wrestling-loader>
</h4>>