<div id="Sidepanel">
  <div class="card-panel" style="padding-left: 17px; padding-right: 17px;">
    <form class="form-group">
      <!--<label for="typesOptions">Trier</label>-->
      <div *ngFor="let type of typesOptions">
        <label class="filter-list__itemLabel">
          <input type="checkbox" class="filled-in" [value]="type" style="position: relative" [checked]="isCheck(type)"
            (change)="selectType($event, type)" />
          <span [attr.for]="type">
            <div class='chip' [ngStyle]="{'background-color':  type | reviewTypeColor }">
              {{ type }}
            </div>
          </span>
        </label>
      </div>

    </form>

    <a (click)='reset()' style="margin-top:2%" class="waves-effect waves-light btn">Annuler tri</a>
  </div>
</div>

<div class="container">

  <div class="row">

    <div *ngIf="reviews"></div>

    <!--<div class="col s12 m8 l11">-->
    <h1 class='center'>Chris's Reviews</h1>

    <wrestling-search></wrestling-search>


    <!--Types filters
    <div class="card-panel">

    </div>-->

    <ul class="collapsible popout">

      <li>
        <div class="collapsible-header waves-effect waves-green"><i class="material-icons">whatshot</i>A propos de moi</div>
        <div class="collapsible-body"><span>Salut toi, et bienvenue sur mon espace critique. <br><br>
          
          Qui suis je ? C'est sympa de demander. Je m'appelle Chris, j'ai 22 ans et je suis passionné de catch, metal, jv, kaamelott et de ratounes.<br><br>
          A quoi sert ce site ? Eh bien je ne cesse de m'épanouir depuis 11 ans maintenant devant ce merveilleux média/art/sport 
          qu'est le catch. Je commence à avoir un bon passif et je regarde énormément de contenu, j'ai donc décidé de créer cette plateforme 
          afin de mettre à disposition mes différentes
          reviews (assaissonnées au sel et aux épices) de manière plus efficace qu'en partages discords/forums où elles se perdent facilement. Le site permet
          une meilleure gestion pour moi et pour mes liseurs.
          <br><br>J'ai perdu énormément de reviews 2015->2017 que je retrouve au compte goute...
          <br><br> 
        </span></div>
      </li>
      <li>
        <div class="collapsible-header waves-effect waves-green"><i class="material-icons">filter_drama</i>Actuellement ?</div>
        <div class="collapsible-body"><span>[MAJ : 11/05/2019]<br><br>
          Qu'elle année folle !<br><br>
          Je dois avouer avoir du mal à tout suivre, je finis tranquillement le Champion's Carnival et mon rattrapage NJPW/GCW. C'est à peine si
          je trouve le temps d'aller au (super) show d'Aix d'hier avec le BOSJ qui arrive ! <br><br>
          Il y a encore quelques contenus de 2018 que je n'ai pas pu voir (Quelques matchs Dragon Gate, wXw...) mais je m'y attèle.
        
        </span></div>
      </li>
    </ul>


    <!-- Reviews -->
    <div *ngFor='let review of reviews; let i = index'>
      <div *ngIf="checkTypes(review.type)" class="col s12 m4">
        <div class="card horizontal pointer" [@openClose]="in" (click)="selectReview(review)" wrestlingBorderCard>
          <div class="card-image">
            <img src="{{'assets/'+ review.img + '.png'}}" alt="image">
          </div>
          <div class="card-stacked">
            <div class="card-content" style="padding-top: 15px;">
              <p>{{ review.name }}</p>
              
              <p>
                <small>{{review.date}}</small>
                <!--<small>{{ review.date | date:"dd/MM/yyyy" }}</small>-->
              </p>
              <!--
              <div *ngIf="review.driveLink; else elseBlock">
                <p>
                  <small> Review sur Google Drive ! </small>
                </p>
              </div>
              <ng-template #elseBlock>
                <p>
                  <small> Review sur le site !</small>
                </p>
              </ng-template>
            -->
              <span *ngFor='let type of review.types' class='chip' [ngStyle]="{'background-color':  type | reviewTypeColor }">{{type}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <h4 *ngIf='!reviews' class='center'>
    <wrestling-loader></wrestling-loader>
  </h4>