<div class="card horizontal pointer" [@openClose]="in" (click)="selectReview(review)" wrestlingBorderCard>
  <div class="card-image">
    <img src="{{'assets/'+ review.img + '.png'}}" alt="image">
  </div>
  <div class="card-stacked">
    <div class="card-content" style="padding-top: 15px;">
      <p>{{ review.name }}</p>

      <p>
        <small>{{review.date}}</small>
      <span *ngFor='let type of review.types' class='chip'
        [ngStyle]="{'background-color':  type | reviewTypeColor }">{{type}}</span>
    </div>
  </div>
</div>